<h1>Future code {{ data.title }}</h1>
<fc-demo />

<!-- _________________________________________________ -->
<div>
  ---------------------------------------------------------------------------------------------
</div>

<div class="fw-bold">Test</div>

<!-- Click method -->
<img
  src="../assets/images/snap_logo.png"
  alt="logo"
  loading="lazy"
  (click)="onLogoclicked()"
/>

<!-- Dynamic values  -->
<!-- keyup => Like (onChange) method   -->
<!-- [value]="data.title" => Change values in the class (could use the same sntax to pass data between components) -->
<input [value]="data.title" #inputRef (keyup)="onKeyUp(inputRef.value)" />

<!-- _________________________________________________ -->
<div>
  ---------------------------------------------------------------------------------------------
</div>

<!-- Passing data to child  -->
<!-- pass string => "'test'"  -->
<!-- <app-card [title]="'test'"></app-card> -->

<app-card [cardData]="dataOfCard" (viewCourseEvent)="onCourseClicked($event)" />

<!-- __________________________ -->
<div>
  ---------------------------------------------------------------------------------------------
</div>

<!-- [testData]="dataOfCard" (Data moves from parent to child) -->
<!-- (testEventEmmiter)="onTestClicked($event)" (Data moves from child to parent using events) -->
<app-test [testData]="dataOfCard" (testEventEmmiter)="onTestClicked($event)" />

<!-- __________________________ -->
<div>
  ---------------------------------------------------------------------------------------------
</div>

<!-- Old way of looping -->

<!-- <ng-container *ngFor="let courseData of dataCourses">
  <app-card [cardData]="courseData" />
</ng-container> -->

<!-- __________________________ -->
<div>
  ---------------------------------------------------------------------------------------------
</div>

<!-- @for(courseData of dataCourses; track courseData.id; let index = $index; let
count = $count; let first = $first; let last = $last; let even = $even; let odd
= $odd) { courses count:
{{ count }} and current course index
{{ index }}
<app-card
  [cardData]="courseData"
  [class.first-class]="first"
  [class.last-class]="last"
/>
} @empty {
<h1>No Courses Found.</h1>
} -->

<!-- __________________________ -->
<div>
  ---------------------------------------------------------------------------------------------
</div>

<!-- The same example with different syntax -->
<!-- The same example with different syntax -->

@for(courseData of dataCourses; track courseData.id) { courses count:
{{ $count }} and current course index
{{ $index }}
<app-card
  [cardData]="courseData"
  [class.first-class]="$first"
  [class.last-class]="$last"
/>
} @empty {
<h1>No Courses Found.</h1>
}

<!-- track courseData.id => here if I can't type (courseData.id), I can use ($index) because i's unique also  -->

<!-- first, last, even, odd => usually used for styling -->
<!-- first-class, last-class => They are the classes used inside the child component -->
<!-- encapsulation: ViewEncapsulation.None, => Add this in the child component -->

<!-- __________________________ -->
<div>
  ---------------------------------------------------------------------------------------------
</div>
